.container
{
    width: 453px;
    height: 490px;
    padding: 30px 55px;
    border: 2px solid white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__h1
{
    font-family: inherit;
    font-size: 21px;
    margin: 1px;s
}
.container__p
{
    font-size: 14px;
    font-weight: 300;
}